{% load static %}
<!doctype html>
<html lang="ko" style="height: 100%; margin: 0;" data-bs-theme="light">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>One More Coin</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <style type="text/css">
        @font-face {
            font-family: "Pretendard-Regular";
            src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
            format("woff");
            font-weight: 400;
            font-style: normal;
            }
        body {font-family: "Pretendard-Regular";}
    </style>
</head>
<!-- 네비게이션바 -->
{% include "navbar_login.html" %}
<body class="bg-white text-dark m-0 min-vh-100">
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="{% static 'function.js' %}"></script>

</body>
</html>
